.tawal-breadcrumb {
  margin-left: 1px;
  padding-bottom: 14px;
  padding-top: 14px;
  padding-left: 19px;
  background-color: #fff;
  font-size: 14px;
  .mx-link {
    padding-right: 2px;
    padding-left: 2px;
    color: #898989;
  }
}
